p {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.my-name {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
}

.navbar {
  background-color: rgba(42,42,42,.95);
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navbar p:hover {
  color: white;
}

li.nav-item > a.active p {
  color: white !important;
}

.navbar p {
  font-size: 20px;
  padding: 0px 20px !important;
  margin-top: 5px;
  border-left: 1px dotted grey;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

#homecard {
  /* background: url("./images/seattle.jpg"); */
  background-repeat: no-repeat;
  background-size: contain, cover;
}

.project-photo {
  height: 100%;
  width: 100%;
  flex-grow: 1;
}

.slide-content {
text-align: center;
}

.slide-text {
  color: yellow;
}
